.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 18vh;

  padding: 12px 24px;
  margin: 8px 0;

  div {
    width: 33%;
    height: 100%;
  }
}

.nappulat {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 8px;

  button {
    padding: 8px 16px;
    width: 50%;
    margin: 8px;
    border: 2px solid var(--primary1);
  }

  :hover {
    background-color: var(--primary3);
  }

  button:active {
    background-color: var(--primary1);
  }
}

.uusduuni {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 8px;

  button {
    padding: 8px 16px;
    margin: 8px;
    border: 1px solid black;
    border-radius: 16px;
    background-color: var(--primary1);
    color: white;
    transform: translateY(-4px);
    font-weight: bold;

    /* box-shadow: 0 15px 45px rgba(255, 255, 255, 0.8); */
    box-shadow: 0 8px 0 -1px var(--primary3), 0 8px 0 0 black;

    transition: background-color 0.3s ease, transform 0.3s ease,
      box-shadow 0.3s ease;
  }

  button:hover {
    background-color: var(--primary2);
    transform: translateY(4px);
    /* box-shadow: 0 15px 45px rgba(255, 255, 255, 0.8); Adjusted shadow on hover */
    box-shadow: none;
  }
}

.the-grid {
  background-color: #f5f5f5;
  width: calc(100% - 48px);
  /* height: 40px; */
  display: grid;
  margin: 0 24px;
  /* gap: 8px; */
  grid-auto-rows: auto;
  padding: 8px;
}

.otsikot,
.job {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 4px;
  font-weight: bold;
}

.otsikot > div {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  padding: 8px;
}

.job {
  font-weight: 400;
  padding: 4px;
  background-color: var(--primary4);
}

.job:nth-child(even) {
  background-color: var(--primary3);
}

.job > div {
  width: 100%;
  height: 100%;
  padding: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border-bottom: 1px solid red; */
}

.job-modify button {
  /* height: 100%; */
  padding: 4px 8px;
  border: 1px solid var(--primary);
}

.job-modify button {
  background-color: var(--primary1);
  color: #f5f5f5;
}

.job-modify button:hover {
  cursor: pointer;
  background-color: var(--primary2);
}

/* Modal */
.open-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  /* align-items: center; */
  position: absolute;
  top: 0;
  left: 0;
}

.form-add {
  margin-top: 10vh;
  height: max-content;
  border: 1px solid red;
  z-index: 2;
  background-color: white;
  padding: 24px;
}

.add-input {
  margin: 0 0 8px 0;
  width: 100%;
  display: flex;
}

.add-input label {
  width: 100px;
  padding: 4px;
}

.add-input input {
  flex-grow: 1;
  padding: 4px;
}

.add-input:first-of-type {
  margin-top: 8px;
}

.add-buttons {
  padding: 4px;
  display: flex;
  justify-content: space-between;
}

.add-buttons button {
  height: 100%;
  padding: 4px 8px;
  width: 80px;
  border: 1px solid var(--primary);
}

.add-buttons button:hover {
  cursor: pointer;
  background-color: lightgray;
}

.add-buttons button:last-of-type {
  background-color: var(--primary1);
  color: #f5f5f5;
}

.add-buttons button:last-of-type:hover {
  background-color: var(--primary2);
}
