* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #043540;
  --primary1: hsl(191, 88%, 33%);
  --primary2: hsl(191, 58%, 53%);
  --primary3: hsl(191, 88%, 83%);
  --primary4: hsl(191, 88%, 93%);
  --secondary: #591d28;
}

body {
  background-color: #4ba7e9;
  font-size: 18px;
}

main {
  max-width: 1366px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  margin: 0 auto;
  position: relative;
}
